html {
  overflow: auto;
}


label {
  display: inline;
  width: 100px;
  font-size: 1em;
}

input {
  width: 140px;
  text-align: center;
  margin-right: 1px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.container {
  /* //height: 100%; */
  width: 100%;
  margin: 20px;
  background-color: #c0d1cd;
}

form {
  margin: 20px;
}

.buttons {
  margin:5px;
}

#sol_btns{
  margin-left: 20px;
  margin-bottom: 20px;
}

.title {
  vertical-align: top;
}


.display {
  width: 100%;
  min-height: 400px;
  padding-bottom: 20px;
}

.status {
  height: 125px;
  vertical-align: text-top;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.message {
  height: 125px;
  max-height: 125px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  overflow: auto;
}

/* Adam added */
body{
  margin: 0px;
  overflow: hidden;
}
#live_video{
  margin:0px;
}
